DATABASE_URL=postgresql://visual_velocity:visual_velocity@localhost:5434/visual_velocity
PORT=5001
GOOGLE_CLOUD_PROJECT=nzz-sbx-hckthn07
GOOGLE_CLOUD_LOCATION=global
GEMINI_MODEL=gemini-3.8-flash
Q_DATA_DIR=../VisualVelocity/input/q_data
